  
.card {
    width: 20%
    
}

a {
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
  }

input {
    border:0;
}

#colourSlot {
    border: 2px solid rgb(51, 30, 22);
}

#checkBoxDiv {
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
  }

  #buttonDel {
    background-image: url('https://b.kisscc0.com/20190405/ljw/kisscc0-rubbish-bins-waste-paper-baskets-recycling-bin-w-primary-trashcan-full-5ca7f9537ac661.4475366615545122115029.png'); 
  }